body {
  background: whitesmoke;
}
.App {  
  // color: azure;
}

.App-header {
  z-index: 3;
  display: flex;
  background-color: #282c34;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  // position: sticky;
  top: 0px;
  padding: 5px 40px 4px 30px;
  width: 100%;
  &__builder {
    text-decoration: none;
    padding: 5px 45px 5px 0;
    color: lavender;
    font-size: .7em;
    &-user {
      font-family: 'Nunito', sans-serif;
      padding-left: 10px;
    }
  }
  > a {
   text-decoration: none;    
  }
}

.startbuild {
  text-decoration: none;
  color: darkslateblue !important;
  &:hover {
    text-decoration: underline;
    color: aquamarine;
  }
}

.view-header {
  padding-left: 8vh;
  &__count {
    // color: cadetblue;
  }
}

.tempmain {
  min-height: 100vh;
}

.gateway {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  &-label {
    padding: 12px 0 3px 0;
    font-family: 'Nunito', sans-serif;
  }
  &-input {
    font-family: 'Nunito', sans-serif;
    background: transparent;
    font-size: 1em;
    padding: 6px;
    border: 1px solid slategray;
    border-radius: 3px;
    &:focus {
      // background: white;
      // color: darkslategray;
    }
  }
}

.dashboard {
  margin: auto;
  max-width: 1200px;
  padding-left: 21px;
  &__panel {
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    margin-top: 40px;
  }
  a {
    // color: ghostwhite;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    &:hover {
      // color: cyan;
      text-decoration: underline;
    }
  }
}

.newcardholder {
  height: 10px;
  width: 10px;
  background: transparent;
  border: none;
}

.preview-img-med {
  border-radius: 16px;
  max-height: 360px;
  margin-bottom: 9px;
  margin-top: 9px;
  // margin-top: -39px;
  // margin-left: -27px;
  // margin-right: -27px;
  // box-shadow: 1px 7px 19px -3px rgba(0, 0, 0, 0.75);
  &.split {
    transform: rotate(90deg);
    margin-right: 21px;
  }
  &.aftermath {
    transition: 0.5s;
    &:hover {
      transform: rotate(-90deg);
      margin-left: 30px;
    }
  }
  &.flip {
    transition: 0.5s;
    &:hover {
      transform: rotate(-180deg);
    }
  }
}

.cubebuilder {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}


.btn-overlay {
  z-index: 3;
  position: absolute;
  margin-top: 75px;
  margin-left: 100px;
}
.btn-onlist {
  z-index: 3;
  position: relative;
  top: 0px;
  left: 220px;
}  

.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #282c34;
  padding-left: 40px;
  padding-top: 12px;
  z-index: 3;
  .leftside {
    width: 700px;
  }
  .rightside {
    z-index: 2;
    display: flex;
    align-self: flex-end;
    padding: 0 15px 30px 15px;
    max-width: 600px; 
    position: fixed;    
    right: 12vh;
    top: 15vh;
    background: ghostwhite;
    box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    border-top: 27px solid darkslateblue;
    // border-bottom: 12px solid #282c34;
    &-iconpanel {
      color: darkslateblue;
    }
    &-displayleft {
      display: flex;
      flex-direction: column;
      // border: 1px solid black;
      // padding: 3px 0 3px 3px;
    }
    &-closeicon {
      position: absolute;
      right: 10px;
      top: -21px;
      cursor: pointer;
      color: whitesmoke;
    }
    &-displayright {
      width: 100%;
      max-width: 270px;          
    }
  }
  .topside {
    width: 100%;
    // max-width: 900px;
  }
  .cardinfoside {

  }
  &__buildcontrols {
    align-self: flex-end;
    margin-bottom: -43px;
    &__container {
      display: flex;
      justify-content: flex-end;
      max-width: 1020px;
    }
    &__mainbutton {
      align-self: flex-end;
    }
    &__label {
      align-self: center;
      margin-left: 60px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
      color: slategray;
    }
    &__shortcut {
      display: flex;
      align-items: center;
      a {
        color: powderblue;
        padding-left: 10px;
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        
        &:hover {
          color: cyan;
          text-decoration: underline;
        }
        &:active{
          color: darkslateblue;
          text-decoration: underline;
        }
      }
      p {

      }
    }
    &-shim {
      padding: 7px;
      visibility: hidden;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    // height: 420px;
    max-width: 240px;
    padding: 10px 0;
  }
  &__resultbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 9px;
    margin-top: 42px;
    width: 100%;
    max-width: 240px;
    flex: 1;
    box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
  }
  &__input {
    border-radius: 3px;
    margin-bottom: 3px;
    background: transparent;
    border: none;
    padding: 4px 8px;
    font-size: 1.2em;
    background: ghostwhite;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
  }
  &__images {
    display: flex;
  }
  &__autoresult {
    background: ghostwhite;
    border: none;
    text-align: left;
    z-index: 2;
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid lavender;
    
    &:hover, &:focus {
      background: #cfcfcf;
    }
    
  }
}

.tooltipzoom {
  position: absolute;
  margin: 40px 0 0 -120px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  &.onlist {
    margin: -100px 0 0 0;
  }
}

.dynamiccard {
  margin-top: -180px;
  margin-right: 39px;
  &__container {
    padding-left: 40px;
  }
  &__header{
    margin-bottom: 200px;
  }
  &__tooltip {
    position: absolute;
    margin: -20px 0 0 -81px;
    z-index: 2;
    max-width: 220px;
    border-radius: 12px;
    box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
    transition: 0.5s;
    &.rotated {
      transform: rotate(90deg) translate(-36px, 42px);      
    }
    &.aftermath {
      transform: rotate(-90deg) translate(36px, -42px);
    }
    &.latestpinned {
      z-index: 3;
    }
    &.samplehand {
      margin-left: -118px;
      margin-top: 99px;
    }
  }  
  &__color {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-spacer {
      height: 10px;
      width: 10px;
    }
    &-focuser {      
      padding-top: 60px;
      &.top {
        padding-top: 0px;
      }
    }
    &.multi {
      max-height: 240px;
    }
    &.large {
      max-height: 510px;
    }
  }
  &__buttonpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    margin-top: -225px;    
    margin-left: 271px;    
    padding: 15px 15px 15px 15px;
    background: ghostwhite;    
    // border: 1px solid #282c34;
    border-top: 1px solid slateblue;
    border-bottom: 1px solid slateblue;
    border-right: 6px solid slateblue;
    border-radius: 3px;
    // box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
    &.samplehand {
      margin-top: -83px;
      margin-left: 246px;
    }
  }
}


.mixedspread-view {
  padding: 20px 20px 250px 20px;
  display: flex;
  align-content: flex-start;
  background: gainsboro;
  &__header {
    
  }
  &__emptymsg {
    border: 1px solid white;
    padding: 50px;
    margin-left: 8vh;
  }
  &__img2 {
    border-radius: 8px;
    transition: 60ms;
    &-hovered {
      border-radius: 8px;
      margin-left: -10px;
    }
  }
  &__img {
    border-radius: 8px;
    position: relative;
    margin-left: -100px;
    // &:first-child {
    //   margin-left: 0px;
    // }
    &:hover {
      // box-shadow: inset 2px -4px 80px 6px rgba(175,240,237,1);
      border: 1px solid white;
      // margin-top: -10px;
    }
  }
}

.homepage {
  text-align: center;
  min-height: 100vh;
  &__link {
    color: darkslateblue;
  }
}

.dynamiclistitem {
  display: flex;
  flex-direction: column;
  &__entry{
    text-align: left;
    font-size: 12px;
    width: 200px;
  }  
}



.addtocube {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: .8em;
  padding: 7px 12px;
  background: darkslateblue;
  color: ghostwhite;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  margin-left: 9px;
  
  cursor: pointer;
  &:hover {
   background: slateblue; 
  }
  &:disabled {
    color: darkgrey;  
    background: slategray;
    border: none;
    cursor: no-drop;
  }
  &.inoverlay {
    margin: 7px 6px 0px 6px;    
  }
  &.changeEdition {    
    background: ghostwhite;
    color: darkslateblue;    
    border: 1px solid darkslateblue;
    &:hover {
      background: darkslateblue;
      color: ghostwhite;    
    }
    &:active {
      background: slateblue;
      color: ghostwhite;    
    }
  }
  &.transparent {
    border: 1px solid slategray;
    color: slategray;
    background: transparent;    
    transition: 66ms;
    &:hover {
      border-color: lavender;
      color: lavender;
    }
  }
}

// modals

.modal__overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}
.modal__buttonpanel {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.modal__newcube {
  display: flex;
  flex-direction: column;
  color: darkslategray;
  position: absolute;
  top: 42%;
  left: 50%;
  background: ghostwhite;
  border-radius: 6px;
  box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  padding: 20px;
  transform: translate(-50%, -50%);  
  max-width: 400px;
  width: 100%;
  z-index: 3;
  &-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;    
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    &.icon {
      max-width: 180px;
    }    
  }
  &-subtitle {
    font-family: 'Nunito', sans-serif;
    font-size: .9em;
    margin: auto;
    max-width: 300px;
  }
  &-closeicon {
    align-self: flex-end;
    cursor: pointer;
  }
  &-input {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    margin-top: 10px;
  }
  &.samplehand {
    display: flex;
    max-width: 810px;
    width: 100%;
    top: 50%;
  }
  &.massupload {
    top: 50%;
  }
  #massupload {
    height: 300px;
    margin-top: 21px;
  }
  &-statusicon {
    padding: 3.5vh;
    font-size: 2em;
    text-align: center;
  }
}


.samplehand {
  &-element-container {
    margin-left: -102px;    
    &:hover {
      margin-top: -21px;
    }
    
  }
  &-img {
    border-radius: 8px;  
  }
  &-container {
    display: flex;
    margin-left: 102px;    
    margin-top: 12px;
  }
  & .buttonpanel {

  }
}




.cubelist {
  list-style-type: none;
  padding: 5px 15px 5px 5px;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  &:last-child {
    border-bottom: none;
  }
  &__header {
    font-weight: 400;
    // color: honeydew;
    padding: 0 0 20px 0;
    margin: 0;
  }
  &__container {
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 400px;
    padding: 20px 0 20px 20px;
    // background: lightslategray;
    border: 1px solid lightslategray;
  }
}

.tooltip {
  position: absolute;
  margin-top: -50px;
  margin-left: 27px;
  color: darkslategray;
  background: azure;
  padding: 8px;
  font-size: .6em;
  box-shadow: 3px 3px 25px -2px rgba(0,0,0,0.75);
}

.versionchanger {
  overflow-y: auto;
  max-height: 60vh;
  // font-family: "Nunito", sans-serif;  
  border-left: 1px solid lightslategray;
  border-right: 1px solid lightslategray;
  border-bottom: 3px solid #282c34;
  // border-radius: 0 0 3px 0px;
  &-box {
    min-width: 202px;
    margin-top: 36px;
    // margin-left: 27px;  
  }
  &-label {
    margin: 0 0 0px 0px;
    padding: 9px 6px;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-size: 0.9em;
    background: #282c34;
    border-radius: 0px 4px 0px 0px;  
  }
  > .container {
    padding: 3px 6px;
    border-bottom: 1px solid lavender;
    font-size: .7em;
    color: darkslategray;
    background: white;
    cursor: pointer;
    // &:nth-of-type(even) {
    //   background: lavender;
    // }
    &.active {
      background: aquamarine;
      font-weight: 700;
    }
    &:last-child {
      border-bottom: none;
    }
  }
  
}

// functionally named css
.hidden {
  display: none;
}

.centerizer {
  text-align: center;
}


.loading-spinner {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}


.lineright {
  text-align: right;
}

.mirror {
  transform: rotateY(180deg);
}
.zeromarginpad {
  margin: 0;
  padding: 0;
}

.fullwidth {
  width: 100%;
}

.heromid {
  max-width: 300px;
}

.pushtop30 {
  margin-top: 30px;
}


.spacer5 {
  height: 5vh;
}
.spacer300 {
  height: 300px;
}



// buttons 
.buttonsecondary {
  background: darkcyan;
  border: none;
  padding: 6px;
  width: 100%;
  max-width: 120px;
  margin-left: 12px;
  border-radius: 4px;  
  text-decoration: none;
  color: ghostwhite;
  font-size: .9em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: lightseagreen;
    transition: 99ms;
    cursor: pointer;
  }
  &.transparent {
    border: 1px solid darkcyan;
    color: darkcyan;
    background: transparent;
    &:hover {
      border: 1px solid transparent;
      background: lightseagreen;
      color: ghostwhite;
      transition: 99ms;
      cursor: pointer;
    }
  }
}

.buttonprimary {
  background: darkslateblue;
  border: none;
  padding: 9px;
  width: 100%;
  max-width: 160px;  
  border-radius: 4px;  
  text-decoration: none;
  color: ghostwhite;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: slateblue;
    transition: 99ms;
    cursor: pointer;
  }
  
}

.buttontransparent {
  background: transparent;
  border: 1px solid darkslateblue;
  color: darkslateblue;
  padding: 9px;
  width: 100%;
  max-width: 160px;  
  border-radius: 4px;  
  text-decoration: none;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: slateblue;
    border: 1px solid transparent;
    // border: 1px solid ghostwhite;
    color: ghostwhite;
    transition: 60ms;
    cursor: pointer;
  }
  &:active{
    background: slateblue;
    color: ghostwhite;
  }
  &.home {
    margin-bottom: 12px; 
   }
}

.vertical-buttonpanel {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// icons 

.icon {
  cursor: pointer;
  &.icon-panel {
    color: darkslateblue;
    padding-bottom: 15px;
    &:hover {
      color: slateblue;
    }
    &:active {
      color: lightslategray;
    }
  }
  &.unpinned {
    transform: rotate(45deg);
    margin-left: -9px;
  }
  &.pinned {
    color: slateblue !important;
  }
}

// headers and fonts

.splashheader {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.8em;
  color: darkslateblue;
}

.smallheader {
  font-family: 'Major Mono Display', monospace;
  font-size: 0.6em;
  color: slategray;
  margin-right: 3vw;
  margin-top: 1vh;
  padding-bottom: 2px;
  &:hover {
    color: cadetblue;
  }
  &.friend {
    font-size: .6em;
    color: slateblue;
    margin-left: -10px;
  }
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  // color: honeydew;
}
h2 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1em;
}