.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.preview-img-med {
  border-radius: 16px;
  max-width: 300px;
  &.dfc {
    max-width: 250px;
    max-height: 348px;
  }
  &.split {
    transform: rotate(90deg)
  }
  &.aftermath {
    transition: 0.5s;
    &:hover {
      transform: rotate(-90deg)
    }
  }
  &.flip {
    transition: 0.5s;
    &:hover {
      transform: rotate(-180deg)
    }
  }
}
.tempmain {
  height: 800px;
  display: flex;
  margin-top: 20px;
}


.layout-container {

}

.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 900px;
  .leftside {
    width: 700px;
  }
  .rightside {
    width: 700px;
    
  }
  &__buttonpanel {
    // align-self: flex-end;
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 420px;
    max-width: 400px;
  }
  &__resultbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 42px;
    width: 100%;
    max-width: 400px;
  }
  &__input {
    margin-bottom: 3px;
  }
  &__images {
    display: flex;
  }
  &__autoresult {
    background: white;
    border: none;
    margin-top: 1px;
    text-align: left;
    z-index: 2;
    
    &:hover, &:focus {
      background: #cfcfcf;
    }
    
  }
}

.mixedspread-view {
  &__img {
    border-radius: 8px;
    position: relative;
    margin-left: -100px;
    &:first-child {
      margin-left: 0px;
    }
    &:hover {
      border: 1px solid #777777;
      z-index: 2;
    }
  }
}


