body {
  background: darkslategray;
}
.App {  
  color: azure;
}

.App-header {
  display: flex;
  background-color: #282c34;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0px;
  padding: 5px 40px 4px 30px;
  width: 100%;
  &__builder {
    text-decoration: none;
    padding: 5px 45px 5px 0;
    color: lavender;
    font-size: .7em;
    &-user {
      font-family: 'Nunito', sans-serif;
      padding-left: 10px;
    }
  }
  > a {
   text-decoration: none;    
  }
}

.startbuild {
  text-decoration: none;
  color: darkslateblue !important;
  &:hover {
    text-decoration: underline;
    color: aquamarine;
  }
}

.view-header {
  padding-left: 8vh;
  &__count {
    color: cadetblue;
  }
}

.tempmain {
  min-height: 100vh;
}

.gateway {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
  &-label {
    padding: 12px 0 3px 0;
    font-family: 'Nunito', sans-serif;
  }
  &-input {
    background: transparent;
    font-size: 1em;
    padding: 6px;
    border: 1px solid cadetblue;
    color: ghostwhite;
    &:focus {
      background: white;
      color: darkslategray;
    }
  }
}

.dashboard {
  margin: auto;
  max-width: 1200px;
  padding-left: 21px;
  &__panel {
    display: flex;
    max-width: 330px;
    justify-content: space-between;
    margin-top: 40px;
  }
  a {
    color: ghostwhite;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    &:hover {
      color: cyan;
      text-decoration: underline;
    }
  }
}

.newcardholder {
  height: 10px;
  width: 10px;
  background: transparent;
  border: none;
}

.preview-img-med {
  border-radius: 16px;
  max-height: 360px;
  box-shadow: 1px 7px 19px -3px rgba(0, 0, 0, 0.75);
  &.split {
    transform: rotate(90deg);
    margin-left: 30px;
  }
  &.aftermath {
    transition: 0.5s;
    &:hover {
      transform: rotate(-90deg);
      margin-left: 30px;
    }
  }
  &.flip {
    transition: 0.5s;
    &:hover {
      transform: rotate(-180deg);
    }
  }
}

.cubebuilder {
  width: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}


.btn-overlay {
  z-index: 3;
  position: absolute;
  margin-top: 75px;
  margin-left: 100px;
}
.btn-onlist {
  z-index: 3;
  position: relative;
  top: 0px;
  left: 220px;
}  

.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 40px;
  // background: #8392AF;
  background-color: #282c34;
  padding-left: 40px;
  z-index: 1;
  .leftside {
    width: 700px;
  }
  .rightside {
    display: flex;
    align-self: flex-end;
    padding: 40px;
    max-width: 600px; 
    position: fixed;
    top: 88px;
    right: 21px;
    background: ghostwhite;
    box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
    border-radius: 6px;
    &-iconpanel {
      color: darkslateblue;
    }
    &-displayleft {
      display: flex;
      flex-direction: column;
    }
    &-closeicon {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      color: darkslategray;
    }
    &-displayright {
      width: 100%;
      max-width: 270px;      
    }
  }
  .topside {
    width: 100%;
    // max-width: 900px;
  }
  .cardinfoside {

  }
  &__buildcontrols {
    align-self: flex-end;
    margin-bottom: -43px;
    &__container {
      display: flex;
      justify-content: flex-end;
      max-width: 1020px;
    }
    &__mainbutton {
      align-self: flex-end;
    }
    &__label {
      align-self: center;
      margin-left: 60px;
      font-family: 'Nunito', sans-serif;
      font-weight: 700;
    }
    &__shortcut {
      display: flex;
      align-items: center;
      a {
        color: powderblue;
        padding-left: 10px;
        font-family: 'Nunito', sans-serif;
        text-decoration: none;
        
        &:hover {
          color: cyan;
          text-decoration: underline;
        }
        &:active{
          color: darkslateblue;
          text-decoration: underline;
        }
      }
      p {

      }
    }
    &-shim {
      padding: 7px;
      visibility: hidden;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    // height: 420px;
    max-width: 350px;
    padding: 10px 0;
  }
  &__resultbox {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 14px;
    margin-top: 25px;
    width: 100%;
    max-width: 350px;
    flex: 1;
    box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
  }
  &__input {
    border-radius: 3px;
    margin-bottom: 3px;
    background: transparent;
    border: none;
    padding: 4px 8px;
    font-size: 20px;
    background: ghostwhite;
    color: black;
    font-family: 'Nunito', sans-serif;
  }
  &__images {
    display: flex;
  }
  &__autoresult {
    background: ghostwhite;
    border: none;
    text-align: left;
    z-index: 2;
    padding-bottom: 2px;
    padding-top: 2px;
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid lavender;
    
    &:hover, &:focus {
      background: #cfcfcf;
    }
    
  }
}

.tooltipzoom {
  position: absolute;
  margin: 40px 0 0 -120px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  &.onlist {
    margin: -100px 0 0 0;
  }
}

.dynamiccard {
  margin-top: -180px;
  margin-right: 20px;
  &__container {
    padding-left: 40px;
  }
  &__header{
    margin-bottom: 200px;
  }
  &__tooltip {
    position: absolute;
    margin: -20px 0 0 -40px;
    z-index: 2;
    max-width: 220px;
    border-radius: 12px;
    box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
    transition: 0.5s;
    &.rotated {
      transform: rotate(90deg) translate(-36px, 42px);      
    }
    &.aftermath {
      transform: rotate(-90deg) translate(36px, -42px);
    }
  }  
  &__color {
    max-height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-spacer {
      height: 10px;
      width: 10px;
    }
    &-focuser {      
      padding-top: 60px;
      &.top {
        padding-top: 0px;
      }
    }
    &.multi {
      max-height: 240px;
    }
  }
  &__buttonpanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: absolute;
    margin-top: -220px;
    height: 100px;
    margin-left: 314px;
    padding: 15px 15px 0 15px;
    background: ghostwhite;
    // background: gainsboro;
    border-right: 6px solid slateblue;
    border-radius: 3px;
    box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  }
}


.mixedspread-view {
  padding: 20px 20px 250px 20px;
  display: flex;
  align-content: flex-start;
  &__header {
    
  }
  &__emptymsg {
    border: 1px solid white;
    padding: 50px;
    margin-left: 8vh;
  }
  &__img2 {
    border-radius: 8px;
    &-hovered {
      border-radius: 8px;
      margin-left: -10px;
    }
  }
  &__img {
    border-radius: 8px;
    position: relative;
    margin-left: -100px;
    // &:first-child {
    //   margin-left: 0px;
    // }
    &:hover {
      // box-shadow: inset 2px -4px 80px 6px rgba(175,240,237,1);
      border: 1px solid white;
      // margin-top: -10px;
    }
  }
}

.homepage {
  text-align: center;
  min-height: 100vh;
  &__link {
    color: cyan;
  }
}

.dynamiclistitem {
  display: flex;
  flex-direction: column;
  &__entry{
    text-align: left;
    font-size: 12px;
    width: 200px;
  }  
}



.addtocube {
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
  font-size: .8em;
  padding: 7px 12px;
  background: darkslateblue;
  color: ghostwhite;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  &:hover {
   background: slateblue; 
  }
  &:disabled {
    color: darkgrey;  
    background: slategray;
    border: none;
    cursor: no-drop;
  }
  &.inoverlay {
    margin-top: 18px;
    &:last-child {
      margin-top: 9px;
    }
  }
  &.changeEdition {
    background: dodgerblue;
    &:hover {
      background: royalblue;
    }
  }
}

// modals

.modal__overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
}
.modal__buttonpanel {
  display: flex;
  justify-content: flex-end;
  padding-top: 12px;
}
.modal__newcube {
  display: flex;
  flex-direction: column;
  color: darkslategray;
  position: absolute;
  top: 20%;
  left: 50%;
  background: ghostwhite;
  border-radius: 6px;
  box-shadow: 3px 10px 25px -2px rgba(0,0,0,0.75);
  padding: 20px;
  transform: translate(-50%, -50%);  
  max-width: 400px;
  width: 100%;
  z-index: 3;
  &-title {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;    
    font-size: 1.4em;
  }
  &-closeicon {
    align-self: flex-end;
    cursor: pointer;
  }
  &-input {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    margin-top: 10px;
  }
}

.cubelist {
  list-style-type: none;
  padding: 5px 15px 5px 5px;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  &:last-child {
    border-bottom: none;
  }
  &__header {
    font-weight: 400;
    color: honeydew;
    padding: 0 0 20px 0;
    margin: 0;
  }
  &__container {
    margin-top: 20px;
    margin-bottom: 80px;
    max-width: 400px;
    padding: 20px 0 20px 20px;
    // background: lightslategray;
    border: 1px solid lightslategray;
  }
}

.tooltip {
  position: absolute;
  margin-top: -50px;
  margin-left: 27px;
  color: darkslategray;
  background: azure;
  padding: 8px;
  font-size: .6em;
  box-shadow: 3px 3px 25px -2px rgba(0,0,0,0.75);
}

.versionchanger {
  overflow-y: auto;
  max-height: 60vh;
  font-family: "Nunito", sans-serif;
  margin-left: 12px;
  border-left: 1px solid darkslategray;
  border-right: 1px solid darkslategray;
  border-bottom: 9px solid #282c34;
  border-radius: 0 0 3px 3px;
  &-box {
    min-width: 270px;
  }
  &-label {
    margin: 0 0 0px 12px;
    padding: 4px 9px;
    color: white;
    font-family: "Nunito", sans-serif;
    font-weight: 800;
    background: #282c34;
    border-radius: 4px 4px 0px 0px;
  }
  > .container {
    padding: 3px 9px;
    border-bottom: 1px solid lavender;
    font-size: .75em;
    color: darkslategray;
    cursor: pointer;
    // &:nth-of-type(even) {
    //   background: lavender;
    // }
    &.active {
      background: slateblue;
      color: ghostwhite;      
    }
    &:last-child {
      border-bottom: none;
    }
  }
  
}

// functionally named css
.hidden {
  display: none;
}

.centerizer {
  text-align: center;
}

.mirror {
  transform: rotateY(180deg);
}
.zeromarginpad {
  margin: 0;
  padding: 0;
}

.fullwidth {
  width: 100%;
}

.heromid {
  max-width: 300px;
}

.pushtop30 {
  margin-top: 30px;
}

.spacer100 {
  height: 100px;
}
.spacer300 {
  height: 300px;
}

// buttons 
.buttonprimary {
  background: darkcyan;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 160px;
  margin-bottom: 16px;
  border-radius: 4px;  
  text-decoration: none;
  color: ghostwhite;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: cadetblue;
    transition: 99ms;
    cursor: pointer;
  }
}

.buttonsecondary {
  background: darkslateblue;
  border: none;
  padding: 5px;
  width: 100%;
  max-width: 120px;  
  border-radius: 4px;  
  text-decoration: none;
  color: ghostwhite;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: slateblue;
    transition: 99ms;
    cursor: pointer;
  }
}

.buttontransparent {
  background: transparent;
  border: 1px solid ghostwhite;
  color: ghostwhite;
  padding: 9px;
  width: 100%;
  max-width: 160px;
  margin-bottom: 16px;
  border-radius: 4px;  
  text-decoration: none;
  font-size: 1em;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  &:hover {
    background: cadetblue;
    border: 1px solid cadetblue;
    transition: 99ms;
    cursor: pointer;
  }
}

.vertical-buttonpanel {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// icons 

.icon {
  cursor: pointer;
  &.icon-panel {
    color: darkslateblue;
    padding-bottom: 15px;
    &:hover {
      color: slateblue;
    }
    &:active {
      color: lightslategray;
    }
  }
}

// headers and fonts

.splashheader {
  font-family: 'Major Mono Display', monospace;
  font-size: 2.8em;
  color: aquamarine;
}

.smallheader {
  font-family: 'Major Mono Display', monospace;
  font-size: 0.6em;
  color: slategray;
  margin: 8px;
  padding-bottom: 2px;
  &:hover {
    color: cadetblue;
  }
}

h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  color: honeydew;
}
h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4em;
}
p {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 1em;
}