body {
  background: darkslategray;
}

.App {
  background-color: darkslategray;
  color: azure;
}

.App-header {
  display: flex;
  background-color: #282c34;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0px;
  padding-bottom: 10px;
  padding: 5px 40px 10px 0px;
  width: 100%;
}
.App-header__builder {
  text-decoration: none;
  padding: 5px 15px 5px 0;
  color: ghostwhite;
  font-size: 0.8em;
}
.App-header__builder-user {
  font-family: "Nunito", sans-serif;
  padding-left: 10px;
}

.view-header {
  padding-left: 8vh;
}

.tempmain {
  min-height: 100vh;
}

.gateway {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 20px;
  margin-top: 40px;
}
.gateway-label {
  padding: 12px 0 3px 0;
  font-family: "Nunito", sans-serif;
}
.gateway-input {
  background: transparent;
  font-size: 1em;
  padding: 6px;
  border: 1px solid cadetblue;
  color: ghostwhite;
}
.gateway-input:focus {
  background: white;
  color: darkslategray;
}

.dashboard {
  margin: auto;
  max-width: 800px;
}
.dashboard__panel {
  display: flex;
  max-width: 330px;
  justify-content: space-between;
  margin-top: 40px;
}
.dashboard a {
  color: ghostwhite;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}
.dashboard a:hover {
  color: cyan;
  text-decoration: underline;
}

.newcardholder {
  height: 10px;
  width: 10px;
  background: transparent;
  border: none;
}

.preview-img-med {
  border-radius: 16px;
  max-width: 260px;
}
.preview-img-med.dfc {
  max-width: 250px;
  max-height: 348px;
}
.preview-img-med.split {
  transform: rotate(90deg);
  margin-left: 30px;
}
.preview-img-med.aftermath {
  transition: 0.5s;
}
.preview-img-med.aftermath:hover {
  transform: rotate(-90deg);
  margin-left: 30px;
}
.preview-img-med.flip {
  transition: 0.5s;
}
.preview-img-med.flip:hover {
  transform: rotate(-180deg);
}

.cubebuilder {
  width: 100%;
}

.btn-overlay {
  z-index: 3;
  position: absolute;
  margin-top: 75px;
  margin-left: 100px;
}

.btn-onlist {
  z-index: 3;
  position: relative;
  top: 0px;
  left: 220px;
}

.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 40px;
  background-color: #282c34;
  padding-left: 40px;
  z-index: 1;
}
.searchbar .leftside {
  width: 700px;
}
.searchbar .rightside {
  align-self: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 600px;
  position: fixed;
  top: 88px;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}
.searchbar .topside {
  width: 100%;
}
.searchbar__buildcontrols {
  align-self: flex-end;
  margin-bottom: -43px;
}
.searchbar__buildcontrols__container {
  display: flex;
  justify-content: flex-end;
  max-width: 980px;
}
.searchbar__buildcontrols__mainbutton {
  align-self: flex-end;
}
.searchbar__buildcontrols__label {
  align-self: center;
  margin-left: 60px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.searchbar__buildcontrols__shortcut {
  display: flex;
  align-items: center;
}
.searchbar__buildcontrols__shortcut a {
  color: powderblue;
  padding-left: 10px;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}
.searchbar__buildcontrols__shortcut a:hover {
  color: cyan;
  text-decoration: underline;
}
.searchbar__buildcontrols__shortcut a:active {
  color: darkslateblue;
  text-decoration: underline;
}
.searchbar__buildcontrols-shim {
  padding: 7px;
  visibility: hidden;
}
.searchbar__menu {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px 0;
}
.searchbar__resultbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14px;
  margin-top: 25px;
  width: 100%;
  max-width: 350px;
  flex: 1;
  box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
}
.searchbar__input {
  border-radius: 3px;
  margin-bottom: 3px;
  background: transparent;
  border: none;
  padding: 4px 8px;
  font-size: 20px;
  background: ghostwhite;
  color: black;
  font-family: "Nunito", sans-serif;
}
.searchbar__images {
  display: flex;
}
.searchbar__autoresult {
  background: ghostwhite;
  border: none;
  text-align: left;
  z-index: 2;
  padding-bottom: 2px;
  padding-top: 2px;
  font-family: "Nunito", sans-serif;
  border-bottom: 1px solid lavender;
}
.searchbar__autoresult:hover, .searchbar__autoresult:focus {
  background: #cfcfcf;
}

.tooltipzoom {
  position: absolute;
  margin: 40px 0 0 -120px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
}
.tooltipzoom.onlist {
  margin: -100px 0 0 0;
}

.dynamiccard {
  margin-top: -180px;
  margin-right: 20px;
}
.dynamiccard__container {
  padding-left: 40px;
}
.dynamiccard__header {
  margin-bottom: 200px;
}
.dynamiccard__tooltip {
  position: absolute;
  margin: -20px 0 0 -40px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
}
.dynamiccard__color {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.dynamiccard__color-spacer {
  height: 10px;
  width: 10px;
  padding-top: 60px;
}
.dynamiccard__color.multi {
  max-height: 150px;
}
.dynamiccard__buttonpanel {
  z-index: 1;
  position: absolute;
  margin-top: -190px;
  height: 100px;
  margin-left: 314px;
  padding: 15px 15px 0 15px;
  background: ghostwhite;
  border-radius: 3px;
}

.mixedspread-view {
  padding: 20px;
  display: flex;
  align-content: flex-start;
}
.mixedspread-view__emptymsg {
  border: 1px solid white;
  padding: 50px;
  margin-left: 8vh;
}
.mixedspread-view__img2 {
  border-radius: 8px;
}
.mixedspread-view__img2-hovered {
  border-radius: 8px;
  margin-left: -10px;
}
.mixedspread-view__img {
  border-radius: 8px;
  position: relative;
  margin-left: -100px;
}
.mixedspread-view__img:hover {
  border: 1px solid white;
}

.homepage {
  text-align: center;
  min-height: 100vh;
}
.homepage__link {
  color: cyan;
}

.dynamiclistitem {
  display: flex;
  flex-direction: column;
}
.dynamiclistitem__entry {
  text-align: left;
  font-size: 12px;
  width: 200px;
}

.addtocube {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 0.8em;
  padding: 7px 12px;
  background: darkslateblue;
  color: ghostwhite;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.addtocube:disabled {
  color: darkgrey;
  background: slategray;
  border: none;
}

.modal__overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.28);
}

.modal__buttonpanel {
  display: flex;
  justify-content: flex-end;
}

.modal__newcube {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
  padding: 20px;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  z-index: 3;
}

.cubelist {
  list-style-type: none;
  padding: 5px 15px 5px 5px;
  border-bottom: 1px solid lightslategray;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.cubelist:last-child {
  border-bottom: none;
}
.cubelist__header {
  font-weight: 700;
  color: powderblue;
  padding: 0 0 20px 0;
  margin: 0;
}
.cubelist__container {
  margin-top: 20px;
  margin-bottom: 80px;
  max-width: 400px;
  padding: 20px 0 20px 20px;
  border: 1px solid lightslategray;
}

.tooltip {
  position: absolute;
  margin-top: -50px;
  margin-left: 27px;
  color: darkslategray;
  background: azure;
  padding: 8px;
  font-size: 0.6em;
  box-shadow: 3px 3px 25px -2px rgba(0, 0, 0, 0.75);
}

.hidden {
  display: none;
}

.centerizer {
  text-align: center;
}

.zeromarginpad {
  margin: 0;
  padding: 0;
}

.fullwidth {
  width: 100%;
}

.heromid {
  max-width: 300px;
}

.pushtop30 {
  margin-top: 30px;
}

.spacer100 {
  height: 100px;
}

.spacer300 {
  height: 300px;
}

.buttonprimary {
  background: darkcyan;
  border: none;
  padding: 10px;
  width: 100%;
  max-width: 160px;
  margin-bottom: 16px;
  border-radius: 4px;
  text-decoration: none;
  color: ghostwhite;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.buttonprimary:hover {
  background: cadetblue;
  transition: 99ms;
  cursor: pointer;
}

.buttontransparent {
  background: transparent;
  border: 1px solid ghostwhite;
  color: ghostwhite;
  padding: 9px;
  width: 100%;
  max-width: 160px;
  margin-bottom: 16px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1em;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}
.buttontransparent:hover {
  background: cadetblue;
  border: 1px solid cadetblue;
  transition: 99ms;
  cursor: pointer;
}

.vertical-buttonpanel {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  cursor: pointer;
}
.icon.icon-trash {
  color: darkgrey;
}
.icon.icon-trash:hover {
  color: cadetblue;
}

.splashheader {
  font-family: "Major Mono Display", monospace;
  font-size: 2.8em;
  color: aquamarine;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: powderblue;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1em;
}

/*# sourceMappingURL=index.css.map */
