.App {
  background: #D9D9D9;
}

.App-header {
  background-color: #282c34;
  text-align: right;
  font-size: calc(10px + 2vmin);
  position: sticky;
  top: 0px;
  padding-bottom: 10px;
  padding: 5px 40px 10px 0px;
  width: 100%;
}

#newcardholder {
  height: 10px;
  width: 10px;
  background: transparent;
  border: none;
}

.preview-img-med {
  border-radius: 16px;
  max-width: 260px;
}
.preview-img-med.dfc {
  max-width: 250px;
  max-height: 348px;
}
.preview-img-med.split {
  transform: rotate(90deg);
  margin-left: 30px;
}
.preview-img-med.aftermath {
  transition: 0.5s;
}
.preview-img-med.aftermath:hover {
  transform: rotate(-90deg);
  margin-left: 30px;
}
.preview-img-med.flip {
  transition: 0.5s;
}
.preview-img-med.flip:hover {
  transform: rotate(-180deg);
}

.cubebuilder {
  width: 100%;
}

.btn-overlay {
  z-index: 3;
  position: absolute;
  margin-top: 75px;
  margin-left: 100px;
}

.btn-onlist {
  z-index: 3;
  position: relative;
  top: 0px;
  left: 220px;
}

.spacer300 {
  height: 300px;
}

.searchbar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 40px;
  background-color: #282c34;
  padding-left: 40px;
  z-index: 1;
}
.searchbar .leftside {
  width: 700px;
}
.searchbar .rightside {
  align-self: flex-end;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 600px;
  position: fixed;
  top: 88px;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
}
.searchbar .topside {
  width: 100%;
  max-width: 900px;
}
.searchbar__buildcontrols {
  align-self: flex-end;
  margin-bottom: -40px;
}
.searchbar__buildcontrols__container {
  display: flex;
  justify-content: flex-end;
  max-width: 450px;
}
.searchbar__buildcontrols-shim {
  padding: 7px;
  visibility: hidden;
}
.searchbar__menu {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  padding: 10px 0;
}
.searchbar__resultbox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  margin-top: 25px;
  width: 100%;
  max-width: 350px;
  flex: 1;
  box-shadow: 3px 5px 9px 0px rgba(0, 0, 0, 0.45);
}
.searchbar__input {
  border-radius: 3px;
  margin-bottom: 3px;
  background: transparent;
  border: none;
  padding: 4px 8px;
  font-size: 20px;
  background: white;
  color: black;
}
.searchbar__images {
  display: flex;
}
.searchbar__autoresult {
  background: white;
  border: none;
  text-align: left;
  z-index: 2;
  padding-bottom: 5px;
}
.searchbar__autoresult:hover, .searchbar__autoresult:focus {
  background: #cfcfcf;
}

.tooltipzoom {
  position: absolute;
  margin: 40px 0 0 -120px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
}
.tooltipzoom.onlist {
  margin: -100px 0 0 0;
}

.dynamiccard {
  margin-top: -180px;
  margin-right: 20px;
}
.dynamiccard__container {
  height: 900px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 40px;
}
.dynamiccard__tooltip {
  position: absolute;
  margin: -20px 0 0 -40px;
  z-index: 2;
  max-width: 220px;
  border-radius: 12px;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
}
.dynamiccard__buttonpanel {
  z-index: 1;
  position: absolute;
  margin-top: -190px;
  height: 100px;
  margin-left: 314px;
  padding: 10px 10px 10px 10px;
  background: grey;
}

.mixedspread-view {
  height: 700px;
  padding: 20px;
  display: flex;
  align-content: flex-start;
}
.mixedspread-view__img2 {
  border-radius: 8px;
}
.mixedspread-view__img2-hovered {
  margin-left: -10px;
}
.mixedspread-view__img {
  border-radius: 8px;
  position: relative;
  margin-left: -100px;
}
.mixedspread-view__img:hover {
  border: 1px solid white;
}

.hidden {
  display: none;
}

.dynamiclistitem {
  display: flex;
  flex-direction: column;
}
.dynamiclistitem__entry {
  text-align: left;
  font-size: 12px;
  width: 200px;
}

.addtocube {
  padding: 7px;
}
.addtocube:focus {
  border: 3px solid blue;
}
.modal__overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.68);
}

.modal__newcube {
  position: absolute;
  top: 50%;
  left: 50%;
  background: white;
  box-shadow: 3px 10px 25px -2px rgba(0, 0, 0, 0.75);
  padding: 20px;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 100%;
  z-index: 3;
}

/*# sourceMappingURL=index.css.map */
